@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}


.molecule-header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

    /*INPUT MOLECULE*/

.molecule-inputBox {
    margin-bottom: 0.5em;
    width: 100%;
}

.molecule-inputBox label {
    display: block;
    text-align: left;
    margin-left: 15px;
}

.molecule-inputBox input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 25px;
    color: #222;
    background-color: transparent;
}

.error-message-form {
    background-color: rgba(255, 0, 0, .1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 5px;
    display: none;
}

.error-message-form span {
    color: red;
}

.molecule-inputBox input:invalid[focused="true"] ~ .error-message-form {
    display: block;
}

    /*INPUT MOLECULE END*/

    /*SELECT MOLECULE*/

.molecule-selectBox {
    margin-bottom: 0.5em;
    width: 100%;
}

.molecule-selectBox select {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border-width: 2px;
    border-color: #222;
    border-radius: 25px;
    color: #222;
    background-color: transparent;
}

.molecule-selectBox label {
    display: block;
    text-align: left;
    margin-left: 15px;
}

    /*SELECT MOLECULE END*/

    /* COMMON */

.cmp-container {
    max-width: 95%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 1em auto;
    background-color: transparent;
    border: 2px solid #fff;
    backdrop-filter: blur(20px);
}

.cmp-title {
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 700;
}

    /* COMMON END */

    /*LOGIN FORM COMPONENT*/

.loginForm {
    width: 400px;
}

.cmp-loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cmp-loginForm-icon {
    width: 64px;
    height: 64px;
    margin-right: auto;
    margin-left: auto;
}

    /*LOGIN FORM COMPONENT END*/

    /* MAIN BUTTON */

.main-button {
    background-color: #222;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    width: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.disabled {
    background-color: #ccc;
}

    /* MAIN BUTTON END */

    /* CMP TABLE */

.cmp-table-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.usersTable {
    width: 95%;
    text-align: center;
}

.cmp-table {
    border: 2px solid #222;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.cmp-table tr {
    border: 2px solid #222;
}

.cmp-table tr:nth-child(even) {
    background: #d0d0d0;
}

.cmp-table th,
.cmp-table td {
    padding: .625em;
    text-align: left;
}
.cmp-table th{
    background: #999;
    color: #fff;
    font-size: .85em;
    letter-spacing: .1em;
    text-align: center;
}

.cmp-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cmp-table td:nth-child(4) {
    text-align: center;
}

.cmp-table td:nth-child(6) {
    text-align: center;
}

.cmp-table td:nth-child(7) {
    text-align: center;
}

.cmp-table td:nth-child(8) {
    text-align: center;
}

.molecule-table-button {
    text-align: center;
    width: 100%;
    height: 100%;
}

.molecule-table-button button {
    display: inline;
    background: transparent;
    border: none;
    text-align: left;
    padding: 0;
    color: currentColor;
    font-family: "Signika", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.molecule-table-button:hover {
    background: currentColor;
    opacity: 50%;
}

.molecule-table-button:hover button {
    color: white;
}

.cmp-table-title {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.molecule-table-icon a {
    text-align: left;
    text-decoration: none;
    color: currentColor;
}

.cmp-table-pagesBtns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: fit-content;
    margin-left: auto;
}

.cmp-table-pagesBtn {
    background: #999;
    min-width: 50px;
}

.cmp-table-pagesBtn:hover {
    background: #d0d0d0;
}

.cmp-table-pagesBtn:hover * {
    color: #222;
}

.center-data td {
    text-align: center;
}

    /* CMP TABLE END */

    /* MENU BUTTON */

.molecule-menuButton {
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: transparent;
    border: 2px solid #fff;
    backdrop-filter: blur(30px);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #222;
}

.molecule-menuButton-img {
    text-align: center;
    align-self: center;
    justify-content: center;
    color: currentColor;
}

.molecule-menuButton-img * {
    width: 54px;
    height: 54px;
    text-align: center;
    align-self: center;
    justify-content: center;
    color: currentColor;
}

.molecule-menuButton-txt {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: currentColor;
}

.molecule-menuButton:hover {
    border: 2px solid #222;
    backdrop-filter: blur(5px);
}

.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: transparent;
    border: 2px solid #222;
    backdrop-filter: blur(5px);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    /* MENU BUTTON END */

    /* MENU CMP */

.cmp-main-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    margin-left: auto;
    margin-top: -1px;
}

    /* MENU CMP END */

    /* SELLS MENU CMP */

.cmp-sells-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    margin-right: auto;
    margin-top: -1px;
}

    /* SELLS MENU CMP END */

    /* ERROR PAGE */

.error-page {
    width: 450px;
}

.error-message {
    text-align: center;
}

    /* ERROR PAGE END */

    /* REGISTER FORM */

.registerForm {
    width: 450px;
}

.cmp-registerForm {
    display: flex;
    flex-direction: column;
}

    /* REGISTER FORM END */

    /* HOME SCREEN */

.home-screen {
    width: fit-content;
    text-align: center;
}

    /* HOME SCREEN END */

    /* PRODUCT FORM */

.productForm {
    width: 450px;
}

.cmp-productForm {
    display: flex;
    flex-direction: column;
}

    /* PRODUCT FORM END */

    /* PRODUCT FORM */

.serviceForm {
    width: 450px;
}

.cmp-serviceForm {
    display: flex;
    flex-direction: column;
}

    /* PRODUCT FORM END */

    /* SELLS SCREEN */

.cmp-sells-layout {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

    /* SELLS SCREEN END */

    /* INVOICE FORM */

.invoiceForm {
    width: 1100px;
    display: flex;
    flex-direction: column;
}

.cmp-invoiceForm {
    display: flex;
    flex-direction: column;
}

.cmp-invoiceForm-icon {
    width: 64px;
    height: 64px;
    margin-right: auto;
    margin-left: auto;
}

.cmp-invoiceForm-dateCode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cmp-invoiceForm-dateCode article {
    width: 45%;
}

.cmp-invoiceForm-products {
    box-sizing: border-box;
    display: grid;
    max-width: 100%;
    column-gap: 5px;
    grid-template-columns: 2fr 1fr;
}

.cmp-invoiceForm-products .cmp-invoiceForm-autoFit {
    box-sizing: border-box;
    display: grid;
    gap: 5px;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.cmp-invoiceForm-button {
    background-color: #222;
    font-weight: 700;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
    height: fit-content;
}

.cmp-invoiceForm-ivaSubtotal {
    width: fit-content;
    display: flex;
    flex-direction: row;
    max-width: 400px;
    margin-left: auto;
    gap: 10px;
}

     /* INVOICE FORM END */

    /* FORM ANIMATION */
.form-animation * {
    display: inline;
}

.form-animation {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}